:root{
	background-color:orange;
	--desmond:silver;
	padding:2rem;
}
body{
	margin:auto;
	text-align:center;
	background-color:#16F08A;
	padding:1rem;
	border-radius:2rem;
	width:60rem;
}
/*===================================================================
PLEASE REMEMBER!!!!!!!!!
you can use the keyword "!important" in CSS to override everything else if you encounter issues with styling!!!!!!!!


You can also create CSS variables that you can use during styling. Variables start with -- eg, --desmond:blue; 
the use this varible elsewhere as property:var(--xx);. For example, background-color: var(--desmond); will turn background to blue.
varaibles can be reused as many times as possible.

If you want a selector to be used "globally," you need to define it inside the :root selector. In this case, :root is the html element.
Variables are also case sensitive!!!!






It is critical to use variables with fallback values, just in case a variable is misspelt. 
In the above example, you can say, background-color: var(--deesmond, blue); whereby blue is a fallback value.




You can also provide more than one fall-back value in a code. eg background-color:var(--desmond, var(--karani, red));
In this case, if --desmond and --karani fails, red will be used.




fallback values should also be considered to help improve compatibility. This can be done by using redundant declarations and then overriding them with 
other rulesets down the line.
===========================================================================
*/
img{
width:14rem;
border-radius:10%;
}
@media (max-width: 35rem){
	img{
		width:9rem;
		border-radius:50%;
	}
}
h1{
	font-family:'Monoton', cursive;
}
p{
	font-family: 'Bad Script', cursive;
}
form{
	border:dotted gray;
	border-radius:3rem;
	padding:3rem;
	display:inline-block;
	text-align:left;
	background-color: var(--desmond, pink);
}
input:invalid{
	border:1px dashed red;
}
input:invalid:required{
	background-image: linear-gradient(to right, pink, lightgreen);
}
input:valid{
	border:2px solid green;
}
@media (min-width: 40rem){
	body{
		background-color:#BBFA05;
	}
}
[type="radio"]{
	margin-bottom:30px;
}